<div class="app-container">
  <header>
    <h1>🚗 CarPro Kundenverwaltung</h1>
  </header>

  <nav class="toolbar">
    <button (click)="onList()">Kundenliste</button>
    <button (click)="showList.set(false); editId.set(0)">Neuen Kunden</button>
  </nav>

  <main>
    <!-- Kundenliste anzeigen, bindet auf editCustomer -->
    <app-customer-list
      *ngIf="showList()"
      (editCustomers)="onEdit($event)">
    </app-customer-list>

    <!-- Formular anzeigen und editId übergeben -->
    <app-customer-form
      *ngIf="!showList()"
      [editId]="editId()">
    </app-customer-form>
  </main>
</div>
